/* ヘッター */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.menutext{
    margin-left: auto;
}

.menu {
    flex: 1;
    text-align: center;
}

.menu a {
    margin: 0 20px;
}

a{
    text-decoration: none;
}

a:visited {
 color: #ffffff;
}

.activeDOWNLOAD {
    text-decoration: underline;
}

.logo {
    width: 200px;
}

.box {
    background-color: rgb(123, 123, 123);
    width: 200;
    height: 100px;
}
/* ヘッターここまで */

body {
    padding-top: 100px;
    background-color: rgb(29, 29, 29);
    background-image: url("Download.png");
    background-repeat: no-repeat;
    background-position: center 120px;
    background-position-y: 120px;
    background-size: 120% auto;
    margin: 0;
    padding: 0;
}

.download-text {
    padding-top: 140px;
    padding-left: 90px;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.download-text h1 {
    font-size: 80px;
    margin-bottom: 120px;
}

.download-text h2 {
    font-size: 55px;
    margin-bottom: 60px;
    line-height: 1.1;
}

.download-text p {
    font-size: 28px;
    margin-bottom: 40px;
}

.download-text img {
    width: 420px;
    margin-top: 40px;
    transition: 0.3s;
}

.download-text img:hover {
    transform: scale(1.05);
}


/* フッターここから */
/* フッターここから */
footer {
    height: 150px;
    overflow: hidden;
    background: #000000;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left,
.footer-right {
    width: 300px;
}

.footer-left p,
.footer-right p {
    margin: 25px 0;
    font-size: 20px;
}

.footer-left span,
.footer-right span {
    color: #ff9900;
    margin-right: 20px;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    z-index: 10;
    width: 500px;
    max-width: 100%;
}


.footer-right a,
.footer-bottom a {
    color: white;
}

.footer-bottom {
    background: #000000;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom div:first-child {
    display: flex;
    gap: 50px;
}

.footer-bottom a {
    text-decoration: underline;
}

p{
    color: #ffffff;
}
/* フッターここまで */